<div class="mq-staff-search">
	<h1>Staff Search</h1>

	<div class="row">
		<input class="staff-search-field col-lg-12 col-sm-12 col-xs-12" type="text" ng-model="staffSearchQuery" placeholder="search staff" />
	</div>

	<ul class="row top10 search-result-panel">
		<li class="col-lg-3 col-sm-4 col-xs-6" ng-repeat="item in items | staffSearch:staffSearchQuery as searchResult">
			<img ng-src="http://api.adorable.io/avatars/120/{{item.name}}@adorable.png" />
			<p class="staff-name">{{item.name}}</p>
			<p class="staff-role">Role: {{item.role}}</p>
			<p class="staff-office">Office: {{item.office}}</p>
		</li>

		<li class="no-search-result alert alert-warning" ng-show="!searchResult.length">no result found</li>
	</ul>
</div>	