@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

.top10 { 
	margin-top: 10px; 
}

.search-result-panel {
	li {
		list-style: none;
		text-align: center;

    	.staff-name{ 
			font-size: 2rem;
		}
	}
}